version: "3.7"

services:
  mongo:
    image: mongo
    restart: always
    container_name: mongo
    labels:
      - mongo
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example

  redis:
    image: redis
    restart: always
    container_name: redis
    labels:
      - redis
    ports:
      - 6379:6379
